# Python cache files
__pycache__/
*.py[cod]

local/
data/
sea/
scraper.py
# Virtual environment directories
env/
venv/
*.env

# Image files
static/*.jpg

# Log files
*.log

# Miscellaneous files
.DS_Store
