@import url('https://fonts.googleapis.com/css2?family=Lexend+Deca:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Sometype+Mono:ital,wght@0,400..700;1,400..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

*{
  padding: 0;
  margin: 0;
}

body{
  background-color: #151517 !important;
}
#site_title_href{
  text-decoration: none;
  position: absolute;
  color: #202022;
}
#first_row{
  margin-bottom: 20px;
}

#site_title {
    margin-top: -100px;
    font-family: "Sometype Mono", monospace;
    font-size: 35px;
    font-style: italic;
    color: #202022;
    margin-bottom: 142px;
}

#first_row_container {
    /* background-color: #ecf0f1; */
    padding: 153px;
    position: relative; /* Need for positioning pseudo-element */
  width: 100%; /* Adjust as needed */
  height: 100%; /* Adjust as needed */
  overflow: hidden;

}

#first_row_container::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    opacity: 0.2;
    z-index: 0;
}


#landing_page_inner_content h2{
  margin-top: -28px;
margin-bottom: 93px;
}

.course_container{
  background-color: #202022;
  padding: 20px;
  /* border-radius: 17px; */
}
#landpage_title {
    position: absolute;
    font-family: "Sometype Mono", monospace;
    color: white;
    margin-top: -81px;
    font-size: 90px;
    margin-left: -118px;
}
#landpage_subtitle {
    position: absolute;
    font-family: "Sometype Mono", monospace;
    color: white;
    margin-top: 30px;
    font-size: 14px;
    margin-left: -112px;
}
#get_started {
    position: absolute;
    margin-top: 76px;
    margin-left: -108px;
    text-decoration: none;
    border: 1px solid white;
    padding-left: 30px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 30px;
    border-radius: 4px;
    color: white;

    cursor: pointer;
    background-image: linear-gradient(#ecf0f1 0 0);
    background-size: 200% .08em; /* .08em is our fixed height, use what you want  */
    background-position: 200% 100%;
    background-repeat: no-repeat;
    transition: background-size .3s, background-position .3s .3s;

}
#get_started:hover{
    transition: background-size .3s .3s, background-position .3s;
    background-size: 200% 100%;
    background-position: 100% 100%;
    color:black;
}
#landpage_main_container{
  padding: 464px;
padding-left: 20px;
  /* background-image: url("2.jpg"); */
  background-color: #151517;
}
#landpage_main_container::before{
  content: '';
  position: absolute;
  top: -8px;
  left: 0;
  right: 0;
  bottom: 0;
  background-image: url("2.jpg");
  background-size: cover; /* or 'contain' based on your need */
  background-position: center; /* Adjust position if needed */
  opacity: 0.2; /* Adjust opacity */
  z-index: 0; /* Position it behind the content */
}
.course_container {
  cursor: pointer;
  background-image: linear-gradient(#ffffff14 0 0);
  background-size: 200% .08em; /* .08em is our fixed height, use what you want  */
  background-position: 200% 100%;
  background-repeat: no-repeat;
  transition: background-size .3s, background-position .3s .3s;
}
.course_container:hover {
  transition: background-size .3s .3s, background-position .3s;
  background-size: 200% 100%;
  background-position: 100% 100%;
}

.logo_container {
    margin-left: -12px;
    opacity: 0.9;
    margin-top: -1px;
    background-color: #1272D0;
    width: 62px;
    padding: 1px;
    border-radius: 8px;
}

.logo{
  font-family: "Lexend Deca", sans-serif;
  color: white;
  font-weight: bold;
  font-size: 15px;
    padding-top: 8px;
    padding-bottom: 0px;
}

.title{
  padding-top: 111px;
  font-size: 35px;
  font-weight: bolder;
    font-family: "Sometype Mono", monospace;
}

.hide{
  /* background-color: #202022 !important  ; */
  color: #202022 !important;
}

.cisco{
  background-color: #c50f2d !important;
}

.CompTIA{
  width: 100px;
    background-color: #e12524;
}
.python{
  background: rgb(60,120,170);
background: linear-gradient(141deg, rgba(60,120,170,0.5438550420168067) 42%, rgba(254,224,96,0.6418942577030813) 61%, rgba(254,224,96,0.7511379551820728) 68%);
    width: 72px;
}
.r{
  background-color: #1d4c80;
}
.java_title{
  background-color: #fc9918;
}

.logo_container{
  display:
}
 .swift{
padding-top: 71px !important;
width: 100%;
overflow: hidden;
margin-left: 33px;
margin-bottom: -28px;
}

.swift_logo_container{
  background-color: #9d472e;
}

.linux{
      padding-top: 104px !important;
}
.linux img {
    height: 203px !important;
}

.linux_title_container{
  background-color: black;
}
.linux_logo{
  font-size: 13px !important;
}

.php{
  background-color: #7285bf;
}

.java #img_container{
  padding-top: 48px;
}

#img_container{
  opacity: 0.6;
      padding-top: 124px;
      display: inline-block;
      height: 313px;
      width: 100%;
      overflow: hidden;
      margin-left: 33px;
      margin-bottom: -28px;
}

#img_container img{
  width: 100%;
height: 203px;
object-fit: contain;
}



/* showcase */

.courses_thumbnail{
  width: 100%;
height: 100%;
object-fit: cover;
}
.courses_container{
  /* padding: 50px; */
  margin-bottom: 20px;
    background-color: #202022;
}
#site-container{
  padding: 0;
  margin: 0;
}
#main_container {
    padding: 58px;
    padding-left: 10%;
    padding-right: 10%;
}
#first_row_container{
  background-color: #ecf0f1;
  padding: 153px;
  padding-bottom: 200px;

}
#second_row {
    margin-top: -244px;
}
.courses_title {
    font-family: "Roboto", sans-serif;
    color: white;
    font-size: 26px;
    padding-top: 50px;
    /* margin-left: -57px; */
    margin-top: 17px;
    font-weight: bold;
}

.courses_desc{
  color: #ecf0f1;
    margin-left: -55px;
    font-size: 13px;
}

.tag{
  background-color: #8e44ad;
    width: 50px;
    padding: 4px;
    font-size: 11px;
    /* margin-left: -53px; */
    border-radius: 6px;
    text-align: center;
    color: white;
    display: inline;
}

.course_status{
  background-color: #9de96f !important;
  color: #202022;
}

.link_courses{
  text-decoration: none;
}

._goShowCase{
  text-decoration: none;
}

.no_course {
    padding-top: 30px !important;
    padding-bottom: 30px;
    font-weight: normal;
}

#no_course_container{
      margin-top: 300px;
}

.courses_container {
  cursor: pointer;
  background-image: linear-gradient(#e9e9e90d 0 0);
  background-size: 200% .08em; /* .08em is our fixed height, use what you want  */
  background-position: 200% 100%;
  background-repeat: no-repeat;
  transition: background-size .3s, background-position .3s .3s;
}
.courses_container:hover {
  transition: background-size .3s .3s, background-position .3s;
  background-size: 200% 100%;
  background-position: 100% 100%;
}
.javascript_title{
  font-size: 28px !important;
}

.javascript{
  background-color: #a28e2b;
  width: 80px !important;
}
.javascript .logo{
  font-size: 13px;

}



@media only screen and (max-width: 1024px) {
  #landpage_title {
        position: absolute;
        font-family: "Sometype Mono", monospace;
        color: white;
        margin-top: 143px;
        font-size: 50px;
        margin-left: 1px !important;
    }
  #landpage_main_container {
    padding: 255px !important;
    padding-left: 0px !important;
    padding-right: 0px !important;
    padding-bottom: 0px !important;
  }
  #landpage_subtitle {
        position: absolute;
        font-family: "Sometype Mono", monospace;
        color: white;
        margin-top: 203px;
        font-size: 17px;
        margin-left: 1px !important;
    }
  #get_started {
    position: absolute;
    margin-top: 243px;
    margin-left: 1px !important;
    text-decoration: none;
    border: 1px solid white;
    padding-left: 30px;
    padding-top: 7px;
    padding-bottom: 7px;
    padding-right: 30px;
    border-radius: 4px;
    color: white;
    cursor: pointer;
    background-image: linear-gradient(#ecf0f1 0 0);
    background-size: 200% .08em;
    background-position: 200% 100%;
    background-repeat: no-repeat;
    transition: background-size .3s, background-position .3s .3s;
  }
  #main_container{
    padding: 0px;
  }
  #first_row_container {
      background-color: #ecf0f1;
      padding: 66px;
      padding-bottom: 200px;
  }
  #landing_page_inner_content h2 {
    margin-top: -0px;
    margin-bottom: 125px;
}
#second_row {
  padding: 20px;
  margin-top: -189px;
}
  #site_title{
    margin-top: 32px;
  }
  .course_container{
        margin-bottom: 30px;
  }
  .title {
    padding-top: 45px;
    padding-bottom: 20px;
    font-size: 25px;
    color: white;
    font-weight: bolder;
    font-family: "Sometype Mono", monospace;
  }
  .javascript_title{
    font-size: 20px !important;
  }
  .courses_title{
        padding-top: 19px;
  }
  .course_content {
        padding-left: 10px;
        padding-bottom: 28px;
        padding-right: 10px;
    }
  .courses_container{
    margin-top: 25px;

  }
}


@media only screen and (max-width: 820px) {
  #landpage_title {
        position: absolute;
        font-family: "Sometype Mono", monospace;
        color: white;
        margin-top: 143px;
        font-size: 50px;
        margin-left: 1px !important;
    }
  #landpage_main_container {
    padding: 255px !important;
    padding-left: 0px !important;
    padding-right: 0px !important;
    padding-bottom: 0px !important;
  }
  #landpage_subtitle {
        position: absolute;
        font-family: "Sometype Mono", monospace;
        color: white;
        margin-top: 203px;
        font-size: 17px;
        margin-left: 1px !important;
    }
  #get_started {
    position: absolute;
    margin-top: 243px;
    margin-left: 1px !important;
    text-decoration: none;
    border: 1px solid white;
    padding-left: 30px;
    padding-top: 7px;
    padding-bottom: 7px;
    padding-right: 30px;
    border-radius: 4px;
    color: white;
    cursor: pointer;
    background-image: linear-gradient(#ecf0f1 0 0);
    background-size: 200% .08em;
    background-position: 200% 100%;
    background-repeat: no-repeat;
    transition: background-size .3s, background-position .3s .3s;
  }
  #main_container{
    padding: 0px;
  }
  #first_row_container {
    background-color: #ecf0f1;
    padding: 54px;
    padding-bottom: 200px;
  }
  #landing_page_inner_content h2 {
    margin-top: 0px;
    margin-bottom: 93px;
  }
  #second_row {
    padding: 20px;
    margin-top: -203px;
}
  #site_title{
    margin-top: 32px;
  }
  .course_container{
        margin-bottom: 30px;
  }
  .title {
    padding-top: 45px;
    padding-bottom: 20px;
    font-size: 25px;
    color: white;
    font-weight: bolder;
    font-family: "Sometype Mono", monospace;
  }
  .javascript_title{
    font-size: 20px !important;
  }
  .courses_title{
        padding-top: 19px;
  }
  .course_content {
        padding-left: 10px;
        padding-bottom: 28px;
        padding-right: 10px;
    }
  .courses_container{
    margin-top: 25px;

  }
}


@media only screen and (max-width: 768px) and (min-width: 540px){
  #landpage_title {
        position: absolute;
        font-family: "Sometype Mono", monospace;
        color: white;
        margin-top: 143px;
        font-size: 50px;
        margin-left: 1px !important;
    }
  #landpage_main_container {
    padding: 255px !important;
    padding-left: 0px !important;
    padding-right: 0px !important;
    padding-bottom: 0px !important;
  }
  #landpage_subtitle {
        position: absolute;
        font-family: "Sometype Mono", monospace;
        color: white;
        margin-top: 203px;
        font-size: 17px;
        margin-left: 1px !important;
    }
  #get_started {
    position: absolute;
    margin-top: 243px;
    margin-left: 1px !important;
    text-decoration: none;
    border: 1px solid white;
    padding-left: 30px;
    padding-top: 7px;
    padding-bottom: 7px;
    padding-right: 30px;
    border-radius: 4px;
    color: white;
    cursor: pointer;
    background-image: linear-gradient(#ecf0f1 0 0);
    background-size: 200% .08em;
    background-position: 200% 100%;
    background-repeat: no-repeat;
    transition: background-size .3s, background-position .3s .3s;
  }
  #main_container{
    padding: 0px;
  }
  #first_row_container {
    background-color: #ecf0f1;
    padding: 69px;
    padding-bottom: 200px;
  }
  #second_row {
    padding: 20px;
    margin-top: -141px;
  }
  #landing_page_inner_content h2 {
    margin-top: 0px;
    margin-bottom: 0px;
  }
  #site_title{
    margin-top: 32px;
  }
  .course_container{
        margin-bottom: 30px;
  }
  .title {
    padding-top: 45px;
    padding-bottom: 20px;
    font-size: 25px;
    color: white;
    font-weight: bolder;
    font-family: "Sometype Mono", monospace;
  }
  .javascript_title{
    font-size: 20px !important;
  }
  .courses_title{
        padding-top: 19px;
  }
  .course_content {
        padding-left: 10px;
        padding-bottom: 28px;
        padding-right: 10px;
    }
  .courses_container{
    margin-top: 25px;

  }
}




@media only screen and (max-width: 430px) {
  #landpage_title {
    position: absolute;
    font-family: "Sometype Mono", monospace;
    color: white;
    margin-top: 143px;
    font-size: 39px;
    margin-left: 1px !important;
  }
  #landpage_main_container {
    padding: 255px !important;
    padding-left: 0px !important;
    padding-right: 0px !important;
    padding-bottom: 0px !important;
  }
  #landpage_subtitle {
    position: absolute;
    font-family: "Sometype Mono", monospace;
    color: white;
    margin-top: 197px;
    font-size: 10px;
    margin-left: 1px !important;
}
  #get_started {
    position: absolute;
    margin-top: 243px;
    margin-left: 1px !important;
    text-decoration: none;
    border: 1px solid white;
    padding-left: 30px;
    padding-top: 7px;
    padding-bottom: 7px;
    padding-right: 30px;
    border-radius: 4px;
    color: white;
    cursor: pointer;
    background-image: linear-gradient(#ecf0f1 0 0);
    background-size: 200% .08em;
    background-position: 200% 100%;
    background-repeat: no-repeat;
    transition: background-size .3s, background-position .3s .3s;
  }
  #first_row_container {
    background-color: #ecf0f1;
    padding: 20px;
    /* padding-bottom: 200px; */
    }
    #second_row {
      padding: 20px;
      margin-top: 0px;
  }
  #landing_page_inner_content h2 {
    margin-top: 0px;
    margin-bottom: 93px;
}
  #main_container{
    padding: 0px;
  }
  #img_container{
    display: none;
    margin-left: 0px;
    margin-bottom: 0px;
  }
  #site_title{
    margin-top: 32px;
  }
  .course_container{
        margin-bottom: 30px;
  }
  .title {
    padding-top: 13px;
    padding-bottom: 20px;
    font-size: 55px;
    color: white;
    font-weight: bolder;
    font-family: "Sometype Mono", monospace;
  }
  .course_content{
    padding-left: 20px;
    padding-bottom: 28px;
  }
  .courses_container{
    margin-top: 25px;

  }
}


@media only screen and (max-width: 414px) and (min-width: 375px){
  #landpage_title {
    position: absolute;
    font-family: "Sometype Mono", monospace;
    color: white;
    margin-top: 143px;
    font-size: 39px;
    margin-left: 1px !important;
  }
  #landpage_main_container {
    padding: 255px !important;
    padding-left: 0px !important;
    padding-right: 0px !important;
    padding-bottom: 0px !important;
  }
  #landpage_subtitle {
    position: absolute;
    font-family: "Sometype Mono", monospace;
    color: white;
    margin-top: 197px;
    font-size: 10px;
    margin-left: 1px !important;
}
  #get_started {
    position: absolute;
    margin-top: 243px;
    margin-left: 1px !important;
    text-decoration: none;
    border: 1px solid white;
    padding-left: 30px;
    padding-top: 7px;
    padding-bottom: 7px;
    padding-right: 30px;
    border-radius: 4px;
    color: white;
    cursor: pointer;
    background-image: linear-gradient(#ecf0f1 0 0);
    background-size: 200% .08em;
    background-position: 200% 100%;
    background-repeat: no-repeat;
    transition: background-size .3s, background-position .3s .3s;
  }
  #first_row_container {
    background-color: #ecf0f1;
    padding: 27px !important;
    /* padding-bottom: 200px; */
  }
  #second_row {
        /* padding-left: 20px; */
        padding: 20px;
        margin-top: 0px;
    }
  #landing_page_inner_content h2 {
    margin-top: 0px;
    margin-bottom: 55px;
  }
  #main_container{
    padding: 0px;
  }
  #img_container{
    display: none;
    margin-left: 0px;
    margin-bottom: 0px;
  }
  #site_title{
    margin-top: 32px;
  }
  .course_container{
        margin-bottom: 30px;
  }
  .title {
    padding-top: 13px;
    padding-bottom: 20px;
    font-size: 55px;
    color: white;
    font-weight: bolder;
    font-family: "Sometype Mono", monospace;
  }
  .course_content{
    padding-left: 20px;
    padding-bottom: 28px;
  }
  .courses_container{
    margin-top: 25px;

  }
}

@media only screen and (max-width: 375px) {
  .course_container{
        margin-bottom: 30px;
  }
  #site_title {
    font-size: 24px;
    margin-top: 20px;
}
  .logo_container {
      width: 67px;
  }
  .logo{
    font-size: 12px;
  }
  #img_container{
    display: none;
    margin-left: 0px;
    margin-bottom: 0px;
  }
  #site_title{
    margin-top: 32px;
  }
  #main_container{
    padding: 0px;
  }
  .title {
    padding-top: 13px;
    padding-bottom: 20px;
    font-size: 55px;
    color: white;
    font-weight: bolder;
    font-family: "Sometype Mono", monospace;
  }
  .course_content{
    padding-left: 20px;
    padding-bottom: 28px;
  }
  .courses_container{
    margin-top: 25px;

  }
  #landpage_title {
    position: absolute;
    font-family: "Sometype Mono", monospace;
    color: white;
    margin-top: 143px;
    font-size: 39px;
    margin-left: 1px !important;
  }
  #landpage_main_container {
    padding: 255px !important;
    padding-left: 0px !important;
    padding-right: 0px !important;
    padding-bottom: 0px !important;
  }
  #landpage_subtitle {
    position: absolute;
    font-family: "Sometype Mono", monospace;
    color: white;
    margin-top: 197px;
    font-size: 10px;
    margin-left: 1px !important;
}
  #get_started {
    position: absolute;
    margin-top: 243px;
    margin-left: 1px !important;
    text-decoration: none;
    border: 1px solid white;
    padding-left: 30px;
    padding-top: 7px;
    padding-bottom: 7px;
    padding-right: 30px;
    border-radius: 4px;
    color: white;
    cursor: pointer;
    background-image: linear-gradient(#ecf0f1 0 0);
    background-size: 200% .08em;
    background-position: 200% 100%;
    background-repeat: no-repeat;
    transition: background-size .3s, background-position .3s .3s;
  }
  #first_row_container {
    background-color: #ecf0f1;
    padding: 40px;
    /* padding-bottom: 200px; */
  }
  #second_row {
        padding-left: 20px;
        padding: 20px;
    }
  #landing_page_inner_content h2 {
    margin-top: -28px;
    margin-bottom: 0px !important;
  }
  #landing_page_inner_content h2{
    font-size: 22px;
  }
}
